body {
    font-family: 'Work Sans', sans-serif;
}

.blog h1 {
    font-weight: 600;
    position: relative;
    margin-bottom: 40px;
}

.blog h1::after {
    content: '';
    position: absolute;
    top: 133%;
    left: 0;
    right: 0;
    margin: auto;
    width: 4.2%;
    height: 3px;
    background: #0d6efd;
}

.pillbox {
    width: 200px;
    position: absolute;
    right: 25px;
    top: 205px;
}

.pillbox img {
    width: 30px;
}

.pillbox .col-9 {
    display: flex;
    align-items: center;
    color: #fff;
}

.bg-primary-subtle {
    background: #081828 !important;
}

footer p {
    font-size: 18px;
}

footer .menu span {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

footer ul {
    list-style: none;
    transform: translateX(-30px);
}

footer ul li {
    color: #bbb;
    line-height: 40px;
}